<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

       <bean id="greetingAdvice" class="com.larry.advice.before.GreetingBeforeAdvice"/>
       <bean id="target" class="com.larry.advice.NaiveWaiter"/>
       <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
             p:proxyInterfaces="com.larry.advice.Waiter"
             p:interceptorNames="greetingAdvice"
             p:target-ref="target" />
</beans>